/*Movil / Mobile*/
	@media screen and (max-width: 600px){
		*{
		margin: 0;
		}
		#header1{
			width: 130vw;
		}
		#footer1{
			width:202vw;
			height:230vh;
			bottom:-20vw;
		}
		#fondo{
		background-image: url('/errores/imagenes/stackofmagazines.jpg');
		background-size: 500%;
		background-position: top left;
		background-repeat:no-repeat;
		}
		/*mensaje error / Error message*/
			#fondo .info_error{
			  font-family: "maquina_de_escribir";
			  font-size: 40px;
			  width: 200%;
			  position: absolute;
			  left: 1px;
			  top: 800px;
			  background-color: #f1ece9;
			}
		/* título error / error title */
			#fondo .error{
			  width: 200%;
			  font-family: "maquina_de_escribir";
			  font-size: 60px;
			  position: absolute;
			  top: 600px;
			  left: 4px;
			  text-align: center;
			}
		/* imágen de acceso denegado / Access denied image */
			#fondo .restringido{
			    width: 500px;
			    position: absolute;
			    left: 40%;
			}
	}
/*tablet*/
	@media screen and (max-width: 768px){
		/*eliminar cabecera / header's delete*/
		#header1{
			display: none;
		}
		/*editar la altura del pie de página /edit height footer's*/
		#footer1{
			height:110vh; bottom:-10vh;
		}
	  *{
	    box-sizing: border-box;
	    margin: 0;
	  }
	  /*título error / error title*/
		  body #error{
		    font-family: "maquina_de_escribir";
		    font-size: 10vw;
		    position: absolute;
		    top: 70vw;
		    left: 8vw;
		    background-color: red;
		  }
	  /*Mensaje de error / error message*/
		  body #info_error{
		    font-family: "maquina_de_escribir";
		    font-size: 4vw;
		    position: absolute;
		    left: 3vw;
		    top:90vw;
		    background-color: #f1ece9;
		  }
	  /*imágen de acceso denegado / access denied image*/
		  body .restringido{
		    width: 60vw;
		    position: relative;
		    left: 25%;
		  }
	}
/*GTE logo*/
  #logo_inicio1{
    position: relative;
    width: 8.33%;
  }
/*barra de desplazamiento del sitio web /scroolbar of the website */
	body::-webkit-scrollbar-track
	{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	background-color: rgb(191,191,191);
	}
	body::-webkit-scrollbar</
	{
	  width: 12px;
	  background-color: none;
	  border: none;
	}

	body::-webkit-scrollbar-thumb
	{
	  border-radius: 10px;
	  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
	  background-color: orange;
	}
body{
    background-image: url('/errores/imagenes/stackofmagazines.jpg');
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size:cover;
    -moz-background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
* {
    box-sizing:border-box;
    margin: 0%;
    user-select: none;
}
@font-face{
  font-family: "maquina_de_escribir";
  src: url('/errores/TravelingTypewriter.ttf') format("truetype");
}
/*título erro / error title*/
	#error{
	  font-family: "maquina_de_escribir";
	  font-size: 5vw;
	  position: relative;
	  top: 4vw;
	  left: 8vw;
	  background-color: red;
	}
/*Mensaje error / error message*/
	#info_error{
	  font-family: "maquina_de_escribir";
	  font-size: 2vw;
	  position: relative;
	  left: 3vw;
	  top:7vw;
	  background-color: #f1ece9;
	}
/*imágen de acceso denegado / Access denied image*/
	.restringido{
	  width: 20vw;
	  position: relative;
	  left: 40%;
	}
body > div{
	position:absolute;
	opacity:1;
	width:auto;
	left:0%;
	right:0%;
}
body > div #header1{
	height: 10vw;
}
body > div #header1 > a{
	text-decoration: none;
}
